@font-face {
  font-family: "Aileron-Heavy";
  src: local("Aileron-Heavy"),
    url("./fonts/Aileron-Heavy.otf") format("opentype");
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url("./fonts/Inter-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Inter-Bold";
  src: local("Inter-Bold"), url("./fonts/Inter-Bold.ttf") format("opentype");
}
