.header {
  background-color: white;
}

.headerPlaceholder {
  background-color: white;
  height: 100px;
}

.avatar {
  max-height: 30px;
  border-radius: 50%;
  margin-right: 4px;
}

.linkActive {
  color: black;
}
