<div class="pt-5 pb-5">
  <h1>Contact Us</h1>
</div>
<div class="pt-4">
  <p>
    <span class="font-grey">Twitter:</span>
    <a
      class="black-link"
      href="https://twitter.com/digitalrightscharter"
      target="_blank"
      rel="noreferrer">
      @digitalrightscharter
    </a>
  </p>
  <p>
    <span class="font-grey">Email:</span>
    <a
      class="black-link"
      href="mailto:info@digitalrightscharter.org"
      target="_blank"
      rel="noreferrer">
      info@digitalrightscharter.org
    </a>
  </p>
  <p>
    <span class="font-grey">Discord:</span>
    <a
      class="black-link"
      href="https://discord.gg/join-om"
      target="_blank"
      rel="noreferrer">
      https://discord.gg/join-om
    </a>
    <br />
    <span class="font-normal">
      This is the Open Metaverse Discord. Go to the Digital Rights Charter
      channel.
    </span>
  </p>
</div>
