<p>
  The GDRC 1 is a visual interpretation of the GDRC Charter made by artist
  <a
    class="grey-link"
    href="https://twitter.com/6529er"
    target="_blank"
    rel="noreferrer">
    &#64;6529er</a
  >.
</p>
<p>
  It can be minted on the Ethereum blockchain. It is free to mint, except for
  your wallet's gas/transaction fee and has no royalties associated with it.
</p>
<p>
  The art has been placed in the public domain using the Creative Commons 0
  (CC0) license by
  <a
    class="grey-link"
    href="https://twitter.com/6529er"
    target="_blank"
    rel="noreferrer">
    &#64;6529er</a
  >.
</p>
<p>
  More details can be found at the
  <a class="grey-link" href="/"> FAQ</a> page.
</p>
